body {
    background-color: rgb(37, 38, 44);
    cursor: pointer;


}

/*navbar*/

.ContainerNav {
    font-size: xx-large;
    width: 250px;



}

.containerHome {
    display: flex;
    justify-content: center;
    margin-top: 20rem;

}



.imgHome {
    width: 100%;
}

/*FOOTER*/

.footer {
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
}

/*CONTATTI*/

.container-contact {
    margin-top: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
}


/*LOGO*/
.LOGO {
    width: 20%;
    display: flex;
    



    
}

 .FOTOPROFILO{
    width: 80%;
    
 }                                       